body {
  margin-left: 25%;
  margin-right: 25%;
  font-family: "Open Sans", sans-serif;
}

label {
  display: inline-block;
  width: 100px;
}

input {
  width: 500px;
  padding: 5px;
  font-size: 16px;
}

button {
  border-radius: 12px;
  border-size: 1px;
  background: #FFF;
  padding: 3px; 
  border-color: #000;
  font-size: 12px;
}

button:hover {
  background: #000;
  color: #FFF;
}

h1, h2 {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  color: #AAA;
  font-size: 32px;
}

h3 {
  font-weight: normal;
  color: #AAA;
  font-size: 24px;
}

a {
  color: black;
}



.black {
  color: black;
}

#balance {
  color: black;
}

.hint {
  color: #666;
}

